<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="LOG_HOME" value="log/connector/"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/runtime.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/log4Connector.log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <MaxFileSize>10MB</MaxFileSize>
            <TotalSizeCap>20GB</TotalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RSYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <!-- Ubuntu Server host name -->
        <syslogHost>localhost</syslogHost>
        <facility>LOCAL1</facility>
        <suffixPattern>%thread: %-5level %logger{50}:%line - %msg%n</suffixPattern>
    </appender>

<!--    <appender name="socket" class="com.splunk.logging.TcpAppender">-->
<!--        <RemoteHost>127.0.0.1</RemoteHost>-->
<!--        <Port>15000</Port>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>%thread %level: %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <logger name="splunk.logger" additivity="false" level="INFO">-->
<!--        <appender-ref ref="socket"/>-->
<!--    </logger>-->

    <appender name="http" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>http://127.0.0.1:15555</url>
        <token>73f9e231-401c-471b-b6d7-774334d94fbb</token>
<!--        <index>history</index>-->
        <source>db-connector</source>
        <sourcetype>logback</sourcetype>
        <messageFormat>text</messageFormat>
<!--        <disableCertificateValidation>true</disableCertificateValidation>-->
        <middleware>HttpEventCollectorUnitTestMiddleware</middleware>
        <connectTimeout>5000</connectTimeout>
        <terminationTimeout>2000</terminationTimeout>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%thread: %-5level %logger{50}:%line - %msg%n</pattern>
        </layout>
    </appender>

<!--    <logger name="splunk.logger" additivity="false" level="TRACE">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--        <appender-ref ref="http"/>-->
<!--    </logger>-->

    <logger name="org.hibernate.SQL" additivity="false" >
        <level value="DEBUG" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="RSYSLOG" />
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false" >
        <level value="TRACE" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="RSYSLOG" />
    </logger>

    <logger name="com.solace.connector.db.jdbc.DatabaseUtil" additivity="false" >
        <level value="DEBUG" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="RSYSLOG" />
    </logger>

    <logger name="org.springframework.context.support.DefaultLifecycleProcessor" level="ERROR"  />
    <logger name="com.zaxxer.hikari.pool.ProxyConnection" level="ERROR"  />
    <logger name="org.springframework.cloud" level="ERROR"  />
    <!--DEBUG,INFO,WARN,ERROR,FATAL-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="RSYSLOG" />
        <appender-ref ref="http" />
<!--        <appender-ref ref="socket" />-->
    </root>

</configuration>
